    <style type="text/css">.AQButton,
    .AQButton:hover,
    .AQButton:active {
      margin: 0 auto;
      display: block;
      position: relative;
      height: 48.59px;
      width: 295px;
      border-radius: 28px;
      background-color: #F29E2E;
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
            position: absolute;

      cursor: pointer; }


    </style>