<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results</title>
</head>
<body>
    <h1>Results</h1>
    <div>
        <h3>Platform</h3>
        {{ plat }}
        <h3>Status</h3>
        {{ stat }}
        <h3>ID</h3>
        {{ id }}
        <h3>Start Time</h3>
        {{ starttime }}

        <h3>Document Type</h3>
        {{ doctype }}
        <h3>Document Number</h3>
        {{ docnumber }}
        <h3>Country</h3>
        {{ issueCountry }}
         <h3>Name</h3>
        {{ name }}
         <h3>Last name</h3>
        {{ name }}
         <h3>Name</h3>
        {{ lastname }}
         <h3>Given name</h3>
        {{ given_name }}
         <h3>Surname</h3>
        {{ Surname }}
         <h3>Date of Birth</h3>
        {{ bday }}

    </div>


</body>
</html>