<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
     <h1>Results</h1>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">details_response['platform']</th>
      <th scope="col">details_response['status']</th>
      <th scope="col">details_response['id']</th>
      <th scope="col">details_response['startTime']</th>
      <th scope="col">details_response['documentData']['documentType']</th>
      <th scope="col">details_response['documentData']['documentNumber']</th>
      <th scope="col">details_response['documentData']['issuingCountry']</th>
      <th scope="col">details_response['documentData']['firstName']</th>
      <th scope="col">details_response['documentData']['lastName']</th>
      <th scope="col">details_response['documentData']['givenNames']</th>
      <th scope="col">details_response['documentData']['surname']</th>
      <th scope="col">details_response['documentData']['dateOfBirth']</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> {{ plat }}</td>
      <td>{{ stat }}</td>
      <td>{{ id }}</td>
        <td>{{ starttime }}</td>
      <td>{{ doctype }}</td>
      <td>{{ docnumber }}</td>
        <td>{{ issueCountry }}</td>
      <td>{{ name }}</td>
      <td>{{ lastname }}</td>
        <td>{{ given_name }}</td>
        <td> {{ Surname }}</td>
        <td> {{ bday }}</td>
    </tr>
  </tbody>
</table>


</body>
</html>